/* Navbar.css */

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f7f9ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    z-index: 1000;
  }
  
  .dropdown-menu.open {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #2b3d80;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  